*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #111; 
    position: relative;
}

.elem{
    height: 58px;
    width: 100%;
    /* background-color: red; */
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position:relative;
}

.elem h1{
    font-size: 6vw;
    position:relative;
    z-index: 9;
    mix-blend-mode: difference;
}

.elem img{
    height: 55px;
    width: 55px;
    object-fit: top;
    object-position: center;
    border-radius: 50%;
    /* padding: 10px; */
    position: absolute;
    /* transform: translate(-50%,-50%); */
    opacity: 0;
    transition: all linear 0.3s;
}